# List of included and excluded files

include .bumpversion.cfg

graft docs
include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst
include sonnenhut.txt
include devel_requirements.txt
include requirements.txt
include travis_requirements.txt

global-exclude *.py[cod] __pycache__ *.so *.dylib
prune docs/build
